# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/electron/node_modules
/react-web/node_modules

# testing
/coverage

# production
/electron/build
/electron/dist
/react-web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/electron/npm-debug.log*
/electron/yarn-debug.log*
/electron/yarn-error.log*
/electron/public/facturas/*
/electron/server/assets/logoParaño.jpg
/electron/server/assets/logoAri.jpg
/react-web/npm-debug.log*
/react-web/yarn-debug.log*
/react-web/yarn-error.log*
